* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white
    ;
}

.nav {
    padding: 20px;
    border: 9px; border-color:white;
    margin:20px;
    display: inline;
    color: lightcoral;
    background-color: gray;
    }

.link {
    background-color: indianred;
}

#rainbowtext {
    color:darkviolet;
}

#email {
    background-color:darkviolet;
    }