* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white
    ;
}

header {
    position: fixed;
    border: 3px solid #73AD21;
    padding: 10px;
    margin:20px;
    display: inline;
    color: lightcoral;
    background-color: gray;
}


.box {
    height: 300;
    width: 300;
    background-color: slateblue;
}



.link {
    background-color: indianred;
}

#rainbowtext {
    color:darkviolet;
}

#email {
    background-color:darkviolet;
    }